
.questions {
  margin-top:2550px;
  margin-left:250px;
  position: absolute;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 120px;
}
.row1 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
._1 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.doIHaveToPayForEachAgentAccoun {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.yesWeChargeAFeeForEveryAgentAc {
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}
.label2 {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}
.line63 {
  width: 505px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e0e5e4;
  margin-bottom: -1px;
}
._3 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.doYouProvideCustomerServiceAge {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.itIsALongEstablishedFactThatAR {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.line64 {
  width: 505px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e0e5e4;
  margin-bottom: -1px;
}
._5 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.doYouOfferAnAnnualPaymentOptio {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pleaseReachOutToUsAndWeWillBeH {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.row2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
._2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.howManyAgentsCanIAddToMyAccoun {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.youCanInviteUpTo400AgentsInThe {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.line65 {
  width: 505px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e0e5e4;
  margin-bottom: -1px;
}
._4 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.willIGetMoneyBackIfIAmNotSatis {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.weAcceptAllMajorCreditCardsThe {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.line66 {
  width: 505px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e0e5e4;
  margin-bottom: -1px;
}
._6 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.doesThisThemeSupportsPlugins {
  color: #083c2f;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.everyNewResponseAfterYourLimit {
  color: #3c4a47;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.commonQuestionsAnswers {
  margin-top:2400px;
  margin-left:450px;
  position: absolute;
  background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -2px;
  width: 600px;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.commonQuestionsAnswerss {
  margin-top:2450px;
  margin-left:450px;
  position: absolute;
  background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -2px;
  width: 600px;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

/* Mobile-specific styles */
@media screen and (max-width: 700px) {
 
  .questions {
    display: flex;
    flex-direction: column;
    margin-top:2850px;
    margin-left:20px;
    position: absolute;
    width: min-content;
    height: min-content;
    align-items: flex-start;
    gap: 120px;
  }
  .row1 {
    width: 300px;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doIHaveToPayForEachAgentAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .yesWeChargeAFeeForEveryAgentAc {
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .labelWrapper {
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .label2 {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .line63 {
    width: 330px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._3 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouProvideCustomerServiceAge {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .itIsALongEstablishedFactThatAR {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .line64 {
    width: 330px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  .line67 {
    width: 330px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._5 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouOfferAnAnnualPaymentOptio {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .pleaseReachOutToUsAndWeWillBeH {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .row2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: -50px;
  }
  ._2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .howManyAgentsCanIAddToMyAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .youCanInviteUpTo400AgentsInThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .line65 {
    width: 370px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._4 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .willIGetMoneyBackIfIAmNotSatis {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width:300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .weAcceptAllMajorCreditCardsThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .line66 {
    width: 330px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  .line68 {
    width: 330px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._6 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doesThisThemeSupportsPlugins {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 300px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .everyNewResponseAfterYourLimit {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
  }
  .commonQuestionsAnswers {
    margin-top:2700px;
    margin-left:20px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 300px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .commonQuestionsAnswerss {
    margin-top:2750px;
    margin-left:20px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 300px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

}


@media screen and (min-width: 2001px) {


  .questions {
    margin-top:2550px;
    margin-left:27%;
    position: absolute;
    width: min-content;
    height: min-content;
    align-items: flex-start;
    gap: 120px;
  }
  .row1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doIHaveToPayForEachAgentAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .yesWeChargeAFeeForEveryAgentAc {
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .labelWrapper {
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .label2 {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .line63 {
    width: 505px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._3 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouProvideCustomerServiceAge {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .itIsALongEstablishedFactThatAR {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .line64 {
    width: 505px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._5 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouOfferAnAnnualPaymentOptio {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .pleaseReachOutToUsAndWeWillBeH {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .row2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .howManyAgentsCanIAddToMyAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .youCanInviteUpTo400AgentsInThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .line65 {
    width: 505px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._4 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .willIGetMoneyBackIfIAmNotSatis {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .weAcceptAllMajorCreditCardsThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .line66 {
    width: 505px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._6 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doesThisThemeSupportsPlugins {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .everyNewResponseAfterYourLimit {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 505px;
    height: min-content;
    flex-direction: column;
  }
  .commonQuestionsAnswers {
    margin-top:2400px;
    margin-left:30%;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .commonQuestionsAnswerss {
    margin-top:2400px;
    margin-left:42.5%;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) and (max-width: 1010px){

  .questions {
    margin-top:2500px;
    margin-left:50px;
    position: absolute;
    width: min-content;
    height: min-content;
    align-items: flex-start;
    gap: 50px;
  }
  .row1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doIHaveToPayForEachAgentAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .yesWeChargeAFeeForEveryAgentAc {
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .labelWrapper {
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .label2 {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .line63 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._3 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouProvideCustomerServiceAge {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .itIsALongEstablishedFactThatAR {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 310px;
    height: min-content;
    flex-direction: column;
  }
  .line64 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._5 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouOfferAnAnnualPaymentOptio {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .pleaseReachOutToUsAndWeWillBeH {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .row2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .howManyAgentsCanIAddToMyAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .youCanInviteUpTo400AgentsInThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .line65 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._4 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .willIGetMoneyBackIfIAmNotSatis {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .weAcceptAllMajorCreditCardsThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .line66 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._6 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doesThisThemeSupportsPlugins {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .everyNewResponseAfterYourLimit {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .commonQuestionsAnswers {
    margin-top:2350px;
    margin-left:100px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .commonQuestionsAnswerss {
    margin-top:2400px;
    margin-left:100px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

}
@media screen and (min-width: 1010px) and (max-width: 1030px){

  .questions {
    margin-top:2500px;
    margin-left:130px;
    position: absolute;
    width: min-content;
    height: min-content;
    align-items: flex-start;
    gap: 50px;
  }
  .row1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._1 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doIHaveToPayForEachAgentAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .yesWeChargeAFeeForEveryAgentAc {
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .labelWrapper {
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .label2 {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }
  .line63 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._3 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouProvideCustomerServiceAge {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .itIsALongEstablishedFactThatAR {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 310px;
    height: min-content;
    flex-direction: column;
  }
  .line64 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._5 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doYouOfferAnAnnualPaymentOptio {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .pleaseReachOutToUsAndWeWillBeH {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .row2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  ._2 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .howManyAgentsCanIAddToMyAccoun {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .youCanInviteUpTo400AgentsInThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .line65 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._4 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .willIGetMoneyBackIfIAmNotSatis {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .weAcceptAllMajorCreditCardsThe {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .line66 {
    width: 340px;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #e0e5e4;
    margin-bottom: -1px;
  }
  ._6 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .doesThisThemeSupportsPlugins {
    color: #083c2f;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .everyNewResponseAfterYourLimit {
    color: #3c4a47;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 340px;
    height: min-content;
    flex-direction: column;
  }
  .commonQuestionsAnswers {
    margin-top:2350px;
    margin-left:200px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .commonQuestionsAnswerss {
    margin-top:2400px;
    margin-left:200px;
    position: absolute;
    background-image: linear-gradient(180deg, #083c2fff 0%, #083c2f82 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 600px;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

}