.getStartedNow {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  text-align: start; 
  align-items: flex-start; 
  white-space: nowrap;
  flex-direction: column;
}
.bg {
  position: absolute;
  left: 0;
  top: 1470PX;
  width:100%;
  height: 600px;
  background-color: #f3e4ce;
}
.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  z-index: 3;
  margin-top: 1650px;
  margin-left: 150px;
}
.title {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.donTBelieveUsPeopleTalkAboutIt {
  color: #083c2f;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -2px;
  width: 452px;
  height: min-content;
  flex-direction: column;
}
.weHaveConsideredOurSolutionsTo {
  color: #3c4a47;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 476px;
  height: min-content;
  flex-direction: column;
}
.video {
  position: absolute;
  right: 5%; /* Position on the right */
  top: 1500px; /* Adjust the top position as needed */
  width: 380px; /* Adjust the width as needed */
  height: 532px; /* Adjust the height as needed */
  border-radius: 8px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 380px 410px;
  mask-size: 380px 410px;
}



/* Additional styles for the second video to adjust its position */
.video + .video {
  /* Adjust the top position and other styles for the second video */
  left:700px; /* Adjust the top position as needed */
  /* Add any other necessary styles for the second video */
}


@media screen and (max-width: 1260px) {

  .getStartedNow {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start; 
    align-items: flex-start; 
    white-space: nowrap;
    flex-direction: column;
  }
  .root {
    position: absolute;
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    z-index: 3;
    margin-top: 1650px;
    margin-left:5%;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .donTBelieveUsPeopleTalkAboutIt {
    color: #083c2f;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 452px;
    height: min-content;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #3c4a47;
    font-size: 18px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 476px;
    height: min-content;
    flex-direction: column;
  }
  .video {
    position: absolute;
    right: -150%; /* Position on the right */
    top: -40%; /* Adjust the top position as needed */
    width: 380px; /* Adjust the width as needed */
    height: 532px; /* Adjust the height as needed */
    border-radius: 8px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 0px 0px;
    mask-position: 0px 0px;
    -webkit-mask-size: 380px 410px;
    mask-size: 380px 410px;
  }
  
  
  
  /* Additional styles for the second video to adjust its position */
  .video + .video {
    /* Adjust the top position and other styles for the second video */
    left:90%; /* Adjust the top position as needed */
    /* Add any other necessary styles for the second video */
  }
  
  

}

/* Media query for mobile devices */
@media (max-width: 768px) {

  .getStartedNow {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start; 
    align-items: flex-start; 
    white-space: nowrap;
    flex-direction: column;
  }
  .root {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    z-index: 3;
    margin-top: 2280px;
    margin-left: 35px;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .donTBelieveUsPeopleTalkAboutIt {
    color: #083c2f;
    font-size: 38px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 230px;
    height: min-content;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #3c4a47;
    font-size: 18px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 326px;
    height: min-content;
    flex-direction: column;
  }
  .video {
    position: absolute;
    right: 0%;
    top: 380px; 
    width: 180px; 
    height: 252px; 
    border-radius: 8px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 0px 0px;
    mask-position: 0px 0px;
    -webkit-mask-size: 380px 410px;
    mask-size: 380px 410px;
  }
  
  
  
  /* Additional styles for the second video to adjust its position */
  .video + .video {
    /* Adjust the top position and other styles for the second video */
    left: 0%; /* Adjust the top position as needed */
    /* Add any other necessary styles for the second video */
  }
}