.container {
  position: absolute;
  align-items: center;
  width: 100%;
  background-color: #000000;
  color: #000000;
}

.theBottleHouse {
  color: #ffffff;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
  position: relative;
  width: 1226px;
  padding: 5rem;
  height: min-content;
  flex-direction: column;
}

.aboutSection {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
  position: relative;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.labelWrapper {
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
  width: 912px;
}

.seattleBasedWineServingSpotItS {
  height: min-content;
  flex-direction: column;
}

._1 {
  position: relative;
  align-items: column;
  gap: 30px;
  padding: 2rem;
}

._2 {
  position: relative;
  align-items: column;
  gap: 30px;
  padding: 2rem;
  margin-left: 18rem;
}

._3 {
  display: flex;
  /* This will enable flexbox layout */
  flex-direction: column;
  /* This stacks children vertically */
  gap: 30px;

}

._4 {
  display: flex;
  /* This will enable flexbox layout */
  flex-direction: column;
  align-items: center;

}

._8 {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

._9 {
  position: relative;
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.dALLE202312810358CreateAPromot {
  transform-origin: top left;
  border-radius: 20px;
  background-position: center;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.videoIdeas {
  margin-top: 6rem;
  width: 300px;
  height: min-content;
  flex-direction: column;
}

.themesPartiesHappyHours {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 266px;
  height: min-content;
}

.textBlock {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock2 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.image {
  transform-origin: top left;
  border-radius: 20px;
  background-position: center;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.image2 {
  transform-origin: top left;
  border-radius: 20px;
  background-position: center;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.video_idea {
  width: 35px;
  height: 422px;
  align-items: flex-start;
}





.f0eb01a7774b433188739dba0afa23 {
  border-radius: 16px;
  background-image:
    /* webpackIgnore: true */
    url('/assets/f0eb01a7774b433188739dba0afa23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle34624112 {
  border-radius: 16px;
  background-image: linear-gradient(180deg, #0000 0%, #000f 100%);
  background-position: center;
  background-repeat: no-repeat;
}


.dateNight {
  position: relative;
  left: 8.3019%;
  right: 33.0483%;
  top: 69.1571%;
  bottom: 16.3748%;
  justify-content: center;
  flex-direction: column;
}



.textBlock4 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
}

.christmasThemedVideosWithXmasT {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 206px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}


.themesStar1 {
  height: 50px;
}

.personaIdeas {
  position: absolute;
  left: 67px;
  top: 1570px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.btn {
  padding: 5rem;
  top: 2rem;
  left: 20rem;
  bottom: 5rem
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line314 {
  top: 8rem;
  width: 400px;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
}


.label {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}


/* Mobile-specific styles */
@media screen and (max-width: 760px) {

  .container {
    position: absolute;
    align-items: center;
    width: 100%;
    background-color: #000000;
    color: #000000;
  }

  .theBottleHouse {
    color: #ffffff;
    font-size: 72px;
    line-height: 108%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -4px;
    position: relative;
    width: 400px;
    padding: 5rem;
    height: min-content;
    flex-direction: column;
  }

  .aboutSection {
    background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    line-height: 108%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -4px;
    position: relative;
    width: 266px;
    height: min-content;
    flex-direction: column;
  }

  .labelWrapper {
    font-size: 18px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
    width: 350px;
  }

  .seattleBasedWineServingSpotItS {
    height: min-content;
    flex-direction: column;
  }

  ._1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: column;
    gap: 30px;
    padding: 2rem;
  }

  ._2 {
    position: relative;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }

  ._8 {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  ._9 {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: row;
  }

  ._3 {
    display: flex;
    /* This will enable flexbox layout */
    flex-direction: column;
    /* This stacks children vertically */
    gap: 30px;

  }

  ._4 {
    display: flex;
    /* This will enable flexbox layout */
    flex-direction: column;
    align-items: center;



  }



  .dALLE202312810358CreateAPromot {
    transform-origin: top left;
    border-radius: 20px;
    background-position: center;
    width: 131px;
    height: 381px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .videoIdeas {
    margin-top: 0rem;
    width: 300px;
    height: min-content;
    flex-direction: column;
  }

  .themesPartiesHappyHours {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 266px;
    height: min-content;
  }

  .textBlock {
    background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    line-height: 108%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -4px;
  }

  .textBlock2 {
    margin-top: 0;
    background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    line-height: 108%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -4px;
  }

  .image {
    transform-origin: top left;
    border-radius: 20px;
    background-position: center;
    width: 231px;
    height: 481px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .image2 {
    transform-origin: top left;
    border-radius: 20px;
    background-position: center;
    width: 231px;
    height: 481px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .video_idea {
    width: 35px;
    height: 422px;
    align-items: flex-start;
  }





  .f0eb01a7774b433188739dba0afa23 {
    border-radius: 16px;
    background-image:
      /* webpackIgnore: true */
      url('/assets/f0eb01a7774b433188739dba0afa23.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rectangle34624112 {
    border-radius: 16px;
    background-image: linear-gradient(180deg, #0000 0%, #000f 100%);
    background-position: center;
    background-repeat: no-repeat;
  }


  .dateNight {
    position: relative;
    left: 8.3019%;
    right: 33.0483%;
    top: 69.1571%;
    bottom: 16.3748%;
    justify-content: center;
    flex-direction: column;
  }



  .textBlock4 {
    margin-top: 0;
    background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
  }

  .christmasThemedVideosWithXmasT {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 156px;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }


  .themesStar1 {
    height: 50px;
  }


  .btn {
    top: 2rem;
    left: 7rem;
    bottom: 5rem
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .line314 {
    top:0rem;
    width: 300px;
    height: 0;
    max-height: 100%;
    border-bottom: solid 1px #fff;
  }


  .label {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
  }



}