.button_refresh_Dowload_delete.button_refresh_Dowload_delete {
  left: 14.3396%;
  right: 13.9623%;
  top: 87.5479%;
  bottom: 2.2989%;
  width: initial;
  height: initial;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3800px;
  background-color: #000000;
}

.button_refresh_Dowload_delete2.button_refresh_Dowload_delete2 {
  left: 415px;
  top: 1276px;
}

.button_refresh_Dowload_delete3.button_refresh_Dowload_delete3 {
  left: 760px;
  top: 1279px;
}

.button_refresh_Dowload_delete4.button_refresh_Dowload_delete4 {
  left: 1120px;
  top: 1276px;
}

.dALLE202312810358CreateAPromot {
  transform-origin: top left;
  position: absolute;
  left: 521.793px;
  top: 738px;
  width: 187px;
  height: 351.5807px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9783, 0.2071, -0.2071, 0.9783, 0, 0);
}

.dALLE2023128103642CreateAPromo {
  transform-origin: top left;
  position: absolute;
  left: 361px;
  top: 793.9926px;
  width: 187px;
  height: 352.9773px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9815, -0.1916, 0.1916, 0.9815, 0, 0);
}

.theBottleHouse {
  color: #fff;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
  position: absolute;
  left: 66px;
  top: 94px;
  width: 1226px;
  height: min-content;
  flex-direction: column;
}

.videoIdeas {
  position: absolute;
  left: 67px;
  top: 902px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.textBlock {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock2 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.image {
  transform-origin: top left;
  position: absolute;
  left: 903.4463px;
  top: 761px;
  width: 187px;
  height: 363px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9467, 0.322, -0.322, 0.9467, 0, 0);
}

.image2 {
  transform-origin: top left;
  position: absolute;
  left: 721px;
  top: 810px;
  width: 187px;
  height: 363px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9858, -0.1678, 0.1678, 0.9858, 0, 0);
}

.image20 {
  transform-origin: top left;
  position: absolute;
  left: 1275.8906px;
  top: 766px;
  width: 187px;
  height: 363px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9467, 0.322, -0.322, 0.9467, 0, 0);
}

.image19 {
  transform-origin: top left;
  position: absolute;
  left: 1100px;
  top: 796.0156px;
  width: 187px;
  height: 363px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9858, -0.1678, 0.1678, 0.9858, 0, 0);
}

.video_idea {
  position: absolute;
  left: 726px;
  top: 1519px;
  width: 265px;
  height: 522px;
  align-items: flex-start;
}

.f0eb01a7774b433188739dba0afa23 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle34624112 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #0000 0%, #000f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.dateNight {
  position: absolute;
  left: 8.3019%;
  right: 33.0483%;
  top: 69.1571%;
  bottom: 16.3748%;
  justify-content: center;
  flex-direction: column;
}

.textBlock3 {
  background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
}

.textBlock4 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
}

.christmasThemedVideosWithXmasT {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 409px;
  top: 1174px;
  width: 206px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.themesPartiesHappyHours {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 67px;
  top: 1079px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.themesNote {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 67px;
  top: 2539px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.themesStar {
  position: absolute;
  left: 467px;
  top: 3319px;
  width: 150px;
  height: 50px;
}

.personaIdeas {
  position: absolute;
  left: 67px;
  top: 1570px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.textBlock5 {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock6 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.newDesignBrief {
  position: absolute;
  left: 66px;
  top: 2875px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.rateEx {
  position: absolute;
  left: 66px;
  top: 3310px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.textBlock7 {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlockrate {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock8 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock9 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.videoLibrary {
  position: absolute;
  left: 68px;
  top: 2363px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.textBlock10 {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.textBlock11 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
}

.themesPartiesHappyHours2 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 67px;
  top: 1747px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.educationalVideosLearnAndTry {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 1110px;
  top: 1181px;
  width: 206px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.rectangle4255 {
  position: absolute;
  left: 394px;
  top: 3561px;
  width: 251px;
  height: 70px;
  overflow: visible;
}

.icon {
  width: 100%;
  height: 100%;
}

.submit {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 493px;
  top: 3584px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.rectangle34624121 {
  position: absolute;
  left: 1135px;
  top: 2708px;
  width: 251px;
  height: 70px;
  overflow: visible;
}

.icon2 {
  width: 100%;
  height: 100%;
}

.addMore {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 1226px;
  top: 2731px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.myAudienceIs {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 446px;
  top: 2843px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.iWantAVideoThatFocusesOn {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 482px;
  top: 2940px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line314 {
  position: absolute;
  left: 530px;
  top: 2852px;
  width: 400px;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
}

.line315 {
  position: absolute;
  left: 380px;
  top: 2949px;
  width: 400px;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
}

.and {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 419px;
  top: 3042px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.line316 {
  position: relative;
  left: -430px;
  top: 3050px;
  width: 350px;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
}

.iWantToShow {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 448px;
  top: 3149px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.line317 {
  position: absolute;
  left: -600px;
  top: 3153px;
  width: 300px;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
}

.screenshot2023118At10391 {
  position: absolute;
  left: 398px;
  top: 2228px;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screenshot2023118At10401 {
  position: absolute;
  left: 653px;
  top: 2228px;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ellipse963 {
  position: absolute;
  left: 706px;
  top: 2378px;
  width: 96px;
  height: 96px;
  overflow: visible;
}

.icon3 {
  width: 100%;
  height: 100%;
}

.polygon2 {
  position: absolute;
  left: 739px;
  top: 2403px;
  width: 30.7622px;
  height: 45.119px;
  overflow: visible;
}

.icon4 {
  width: 100%;
  height: 100%;
}

.ellipse964 {
  position: absolute;
  left: 482px;
  top: 2371px;
  width: 96px;
  height: 96px;
  overflow: visible;
}

.icon5 {
  width: 100%;
  height: 100%;
}

.polygon3 {
  position: absolute;
  left: 515px;
  top: 2396px;
  width: 30.7622px;
  height: 45.119px;
  overflow: visible;
}

.icon6 {
  width: 100%;
  height: 100%;
}

.screenshot2023118At10392 {
  position: absolute;
  left: 896px;
  top: 2228px;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screenshot2023118At10402 {
  position: absolute;
  left: 1151px;
  top: 2228px;
  width: 231px;
  height: 481px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ellipse965 {
  position: absolute;
  left: 1204px;
  top: 2378px;
  width: 96px;
  height: 96px;
  overflow: visible;
}

.icon7 {
  width: 100%;
  height: 100%;
}

.ellipse966 {
  position: absolute;
  left: 980px;
  top: 2371px;
  width: 96px;
  height: 96px;
  overflow: visible;
}

.icon8 {
  width: 100%;
  height: 100%;
}

.polygon5 {
  position: absolute;
  left: 1013px;
  top: 2396px;
  width: 30.7622px;
  height: 45.119px;
  overflow: visible;
}

.icon9 {
  width: 100%;
  height: 100%;
}

.wineClubWorkYourWinePaletteWit {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 760px;
  top: 1181px;
  width: 206px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.aboutSection {
  background-image: linear-gradient(180deg, #ffff 0%, #00af8382 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -4px;
  position: absolute;
  left: 70px;
  top: 267px;
  width: 266px;
  height: min-content;
  flex-direction: column;
}

.rectangle34624117 {
  position: absolute;
  left: 436px;
  top: 527px;
  width: 125px;
  height: 29px;
  outline: solid 1px #2aebec;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #2aebec00;
}

.rectangle34624118 {
  position: absolute;
  left: 578px;
  top: 527px;
  width: 168px;
  height: 29px;
  outline: solid 1px #2aebec;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #2aebec00;
}

.wineBar {
  color: #2aebec;
  font-size: 18px;
  line-height: 108%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 462px;
  top: 531px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.smallPlates {
  color: #2aebec;
  font-size: 18px;
  line-height: 108%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 603px;
  top: 531px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.rectangle34624122 {
  position: absolute;
  left: 752px;
  top: 527px;
  width: 168px;
  height: 29px;
  outline: solid 1px #2aebec;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #2aebec00;
}

.happyHour {
  color: #2aebec;
  font-size: 18px;
  line-height: 108%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 777px;
  top: 531px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.rectangle34624123 {
  position: absolute;
  left: 926px;
  top: 527px;
  width: 168px;
  height: 29px;
  outline: solid 1px #2aebec;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #2aebec00;
}

.orangeWine {
  color: #2aebec;
  font-size: 18px;
  line-height: 108%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 951px;
  top: 531px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.star1 {
  position: absolute;
  left: 70px;
  top: 447px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon10 {
  width: 100%;
  height: 100%;
}

.star2 {
  position: absolute;
  left: 104px;
  top: 447px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon11 {
  width: 100%;
  height: 100%;
}

.star3 {
  position: absolute;
  left: 138px;
  top: 447px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon12 {
  width: 100%;
  height: 100%;
}

.star4 {
  position: absolute;
  left: 172px;
  top: 447px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon13 {
  width: 100%;
  height: 100%;
}

.star5 {
  position: absolute;
  left: 70px;
  top: 493px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon14 {
  width: 100%;
  height: 100%;
}

.star6 {
  position: absolute;
  left: 104px;
  top: 493px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon15 {
  width: 100%;
  height: 100%;
}

.star7 {
  position: absolute;
  left: 138px;
  top: 493px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon16 {
  width: 100%;
  height: 100%;
}

.star8 {
  position: absolute;
  left: 172px;
  top: 493px;
  width: 29px;
  height: 29px;
  overflow: visible;
}

.icon17 {
  width: 100%;
  height: 100%;
}

.google {
  color: #fff;
  font-size: 12px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 217px;
  top: 455px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.yelp {
  color: #fff;
  font-size: 12px;
  line-height: 108%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 217px;
  top: 500px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.editedDec7th2023 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 76px;
  top: 536px;
  width: 260px;
  height: min-content;
  flex-direction: column;
}

.seattleBasedWineServingSpotItS {
  position: absolute;
  left: 433px;
  top: 284px;
  width: 912px;
  height: min-content;
  flex-direction: column;
}

.labelWrapper {
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}

.label {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.label2 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.label3 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.textBlock12 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.textBlock13 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.textBlock14 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}

.textBlock15 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
}