.root {
  position: absolute;
  left: 452px;
  top: 1972px;
  width: 190px;
  height: 53px;
  align-items: flex-start;
}
.rectangle34624115 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.line305 {
  transform-origin: bottom left;
  position: absolute;
  left: 34.7368%;
  right: 43.1579%;
  top: 11.3208%;
  bottom: 86.7925%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #00000078;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.line306 {
  transform-origin: bottom left;
  position: absolute;
  left: 66.8421%;
  right: 11.0526%;
  top: 11.3208%;
  bottom: 86.7925%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #00000078;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.group427318968 {
  position: absolute;
  left: 89px;
  top: 21px;
  width: 16px;
  height: 18px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse970 {
  position: absolute;
  left: 11.5789%;
  right: 75.7895%;
  top: 30.1887%;
  bottom: 24.5283%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.line308 {
  transform-origin: bottom left;
  position: absolute;
  left: 16.8421%;
  right: 81.6692%;
  top: 26.4151%;
  bottom: 71.6981%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
}
.line309 {
  transform-origin: bottom left;
  position: absolute;
  left: 17.8947%;
  right: 80.6166%;
  top: 28.3019%;
  bottom: 69.8113%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 0, 0);
}
.line3082 {
  transform-origin: bottom left;
  position: absolute;
  left: 18.42%;
  right: 80.0913%;
  top: 75.6465%;
  bottom: 22.4667%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(-0.6723, -0.7403, 0.7403, -0.6723, 0, 0);
}
.line3092 {
  transform-origin: bottom left;
  position: absolute;
  left: 17.3939%;
  right: 81.1175%;
  top: 73.5806%;
  bottom: 24.5326%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(0.7403, -0.6723, 0.6723, 0.7403, 0, 0);
}
.line312 {
  transform-origin: bottom left;
  position: absolute;
  left: 76.3158%;
  right: 9.7891%;
  top: 35.8491%;
  bottom: 62.2642%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(0.6404, 0.768, -0.768, 0.6404, 0, 0);
}
.line313 {
  transform-origin: bottom left;
  position: absolute;
  left: 76.7948%;
  right: 9.31%;
  top: 74.8784%;
  bottom: 23.2348%;
  max-width: 100%;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(0.6321, -0.7749, 0.7749, 0.6321, 0, 0);
}
