.getStartedNow {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  text-align: start; 
  align-items: flex-start; 
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  z-index: 3;
  margin-top: 2250px;
  margin-left: -500px;
}
.title {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.donTBelieveUsPeopleTalkAboutIt {
  color: #083c2f;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -2px;
  width: 452px;
  height: min-content;
  flex-direction: column;
}
.weHaveConsideredOurSolutionsTo {
  color: #3c4a47;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 476px;
  height: min-content;
  flex-direction: column;
}
.video {
  position: absolute;
  right: 400px; /* Position on the right */
  top: 2100px; /* Adjust the top position as needed */
  width: 380px; /* Adjust the width as needed */
  height: 532px; /* Adjust the height as needed */
  border-radius: 8px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 380px 410px;
  mask-size: 380px 410px;
}



/* Additional styles for the second video to adjust its position */
.video + .video {
  /* Adjust the top position and other styles for the second video */
  left: 700px; /* Adjust the top position as needed */
  /* Add any other necessary styles for the second video */
}