.getStartedNow {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  text-align: start;
  align-items: flex-start;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: 1396px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 32px 40px;
  border-radius: 16px;
  background-color: #c9f269;
  z-index: 5;
  margin-top: 3400px;
  margin-left: -1300px;
}
.title {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.scheduleAFreeConsultation {
  color: #083c2f;
  font-size: 40px;
  line-height: 125%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.weHaveConsideredOurSolutionsTo {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 577px;
  height: min-content;
  flex-direction: column;
}


@media screen and (max-width: 1260px) {

  .getStartedNow {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
    left: -20%;
  }
  .root {
    width: 1100px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-radius: 16px;
    background-color: #c9f269;
    z-index: 90;
    margin-top: 3400px;
    margin-left:-50%;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .scheduleAFreeConsultation {
    color: #083c2f;
    font-size: 40px;
    line-height: 125%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 577px;
    height: min-content;
    flex-direction: column;
  }

}


/* Media query for mobile devices */
@media (max-width: 750px) {
  .getStartedNow {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: flex-end;
    white-space: nowrap;
    
  }
  .root {
    width: 350px;
    height: 250px;
    place-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-radius: 16px;
    background-color: #c9f269;
    z-index: 5;
    margin-top: 4660px;
    margin-left: 12%;
    flex-direction: column;
    align-items: center; 
  }
  .title {
    width: min-content;
    word-wrap: break-word;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .scheduleAFreeConsultation {
    color: #083c2f;
    font-size: 17px;
    line-height: 100%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
    width:min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #083c2f;
    font-size: 14px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 330px;
    height: min-content;
    flex-direction: column;
   
  }
}

@media screen and (min-width: 2001px) {
  .getStartedNow {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
  }
  .root {
    width: 2196px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-radius: 16px;
    background-color: #c9f269;
    z-index: 5;
    margin-top: 3400px;
    margin-left: -2000px;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .scheduleAFreeConsultation {
    color: #083c2f;
    font-size: 40px;
    line-height: 125%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 577px;
    height: min-content;
    flex-direction: column;
  }


}
@media screen and (min-width: 760px) and (max-width: 1010px) {

  .getStartedNow {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
    left: -30%;
  }
  .root {
    width: 700px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-radius: 16px;
    background-color: #c9f269;
    z-index: 90;
    flex-direction: column;
    gap:20px;
    margin-top: 3350px;
    margin-left:10%;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .scheduleAFreeConsultation {
    color: #083c2f;
    font-size: 30px;
    line-height: 125%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 577px;
    height: min-content;
    flex-direction: column;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1030px) {

  .getStartedNow {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: min-content;
    height: min-content;
    text-align: start;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
    left: -30%;
  }
  .root {
    width: 800px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-radius: 16px;
    background-color: #c9f269;
    z-index: 90;
    flex-direction: column;
    gap:20px;
    margin-top: 3350px;
    margin-left:18%;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .scheduleAFreeConsultation {
    color: #083c2f;
    font-size: 30px;
    line-height: 125%;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1px;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .weHaveConsideredOurSolutionsTo {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 577px;
    height: min-content;
    flex-direction: column;
  }
}