/* Existing styles for larger screens */
.button.button {
  left: 74.8936%;
  right: 0;
  top: 0;
  bottom: 0;
  align-self: flex-start;
}
.root {
 
  width: 1296px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: 25px;
  margin-left: -540px;
}
.menu {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 42px;
}
.home,
.about,
.product,
.pages,
.contact {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button2 {
  position: relative;
  width: 235px;
  height: 48px;
}
.logIn {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 50%;
  right: 90.4255%;
  top: 22.9167%;
  bottom: 27.0833%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
@media screen and (max-width: 1260px) {
/* Existing styles for larger screens */
.button.button {
  left: 94.8936%;
  right: 0;
  top: 0;
  bottom: 0;
  align-self: flex-start;
}
.root {
  width: 1170px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: 25px;
  margin-left:2%;
}
.menu {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 42px;
  margin-left:-30%;
}
.home,
.about,
.product,
.pages,
.contact {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button2 {
  position: relative;
  width: 235px;
  height: 48px;
}
.logIn {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 50%;
  right: 90.4255%;
  top: 22.9167%;
  bottom: 27.0833%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}



}
/* Mobile-specific styles */
@media screen and (max-width: 700px) {
  .button.button {
    left: 75.8936%;
    right: 0;
    top: 0;
    bottom: 0;
    align-self: flex-start;
  }
  .logo{
    left:0px;
  }
  .root {
    width: 0px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    z-index: 2;
    margin-top: 25px;
    margin-left: -25px;
  }
  .menu {
    display:none;
  }
  .logIn {
    display: none;
  }
  .button2 {
    position: relative;
    width: 235px;
    height: 48px;
    right: 50px;
  }
}




@media screen and (min-width: 2001px) {
/* Existing styles for larger screens */
.button.button {
  left: 284.8936%;
  right: 0;
  top: 0;
  bottom: 0;
  align-self: flex-start;
}
.root {
  width: 2096px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: 25px;
  margin-left: -540px;
}
.menu {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 42px;
  margin-left: -1200px;
}
.home,
.about,
.product,
.pages,
.contact {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button2 {
  position: relative;
  width: 235px;
  height: 48px;
}
.logIn {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  left: 230%;
  right: 90.4255%;
  top: 22.9167%;
  bottom: 27.0833%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

}