.root {
  position: absolute;
  left: 408px;
  top: 1519px;
  width: 265px;
  height: 522px;
  align-items: flex-start;
}
.f0eb01a7774b433188739dba0afa23 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/f0eb01a7774b433188739dba0afa23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle34624112 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #0000 0%, #000f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.naturalWineLovers {
  position: absolute;
  left: 8.3019%;
  right: 33.0483%;
  top: 69.1571%;
  bottom: 16.3748%;
  justify-content: center;
  flex-direction: column;
}
.textBlock {
  background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
}
.textBlock2 {
  margin-top: 0;
  background-image: linear-gradient(180deg, #ffff 0%, #ffffff87 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1px;
}
